:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70vh; /* يغطي الشاشة بالكامل */
}

.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
