<div class="card w-full flex flex-column gap-3">
  <p-table *ngIf="courses && (courses | keyvalue) as categories"
           [value]="categories"
           [paginator]="true"
           [rows]="5">
    <ng-template pTemplate="header">
      <tr>
        <th>Category</th>
        <th>Courses</th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-category>
      <tr>
        <td class="font-bold">{{ category.key }}</td>
        <td>
          <div class="flex gap-2">
            <p-tag *ngFor="let course of category.value" [value]="course" severity="info"></p-tag>
          </div>
        </td>
        <td class="flex gap-2">
          <p-button icon="pi pi-pencil"
                    class="col-6 p-0"
                    severity="primary"
                    (click)="openEditDialog(category)">
          </p-button>

          <p-button *ngIf="isAdmin"
                    icon="pi pi-trash"
                    class="col-6 p-0"
                    severity="danger"
                    (click)="deleteCategoryFromDB(category.key)">
          </p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  header="Edit Category"
  [(visible)]="isEditDialogVisible"
  [modal]="true"
  [closable]="true"
  [dismissableMask]="true"
  styleClass="custom-dialog-width">

  <div>
    <label for="categoryTitle" class="block mb-2 font-bold">Category Title</label>
    <input #titleInput
           id="categoryTitle"
           pInputText
           [(ngModel)]="newTitle"
          [disabled]="!isAdmin"
           placeholder="Enter category title"
           class="w-full mb-3" />

    <label class="block mb-2 font-bold">Courses</label>
<div *ngFor="let course of newCourses; let i = index; trackBy: trackByIndex" class="flex gap-2 mb-2">
  <input pInputText
         [(ngModel)]="course.name"
         [disabled]="!isAdmin && course.saved"
         [attr.placeholder]="'Enter course name ' + (i + 1)"
         class="w-full" />

  <p-button icon="pi pi-trash"
            *ngIf="isAdmin"
            (click)="deleteCourse(i)"
            severity="danger"></p-button>
</div>


    <p-button label="Add Course"
              icon="pi pi-plus"
              (click)="addCourse()"
              severity="success"></p-button>
  </div>

  <ng-template pTemplate="footer">
    <p-button label="Cancel"
              icon="pi pi-times"
              (click)="cancelEdit()"
              severity="secondary"></p-button>
    <p-button label="Save"
              icon="pi pi-check"
              [disabled]="CheckIsValid()"
              (click)="saveUpdatedCategory()"
              severity="primary"></p-button>
  </ng-template>
</p-dialog>
