small {
    padding: 10px;
    background: #ff000047;
    border-radius: 10px;
    margin-top: 10px;
}
input.ng-invalid.ng-touched {
  color: red;
}
.text-pending {
      padding: 10px;
    background: #eee;
    border-radius: 10px;
    margin-top: 10px;
}
.cursor-pointer {
  color: rgba(0, 0, 255, 0.40); text-decoration: underline;
}
.register {
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}
.login-container {
    max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background: #fff;
  input {
    width: 100%;
  }
}
