::ng-deep {
  .buttons-container .p-button-icon-only  {
  background-color: var(--primary-color) !important;
  .p-ripple {
    padding: 0 !important;
    border: none !important;
  }
}
.p-carousel-indicator-active .p-carousel-indicator-button {
    background: var(--primary-color) !important;
}
.p-carousel-item-list {
  // gap: 5px !important;
  justify-content: flex-start !important;
}
.p-carousel-viewport {
  padding: 15px !important;
}
}
.border {
  background: #fff; // الخلفية بيضاء
  border-radius: 16px; // حواف ناعمة
  padding: 2rem; // مسافة داخلية
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08); // ظل خفيف
  transition: all 0.3s ease-in-out;
  border: 1px solid #f1f1f1;

  &:hover {
    transform: translateY(-6px); // يتحرك لفوق عند الهوفر
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
  }
}
// تعديلات للموبايل فقط
@media (max-width: 768px) {
  ::ng-deep {

    .border {
      padding: 1rem !important;
      text-align: center;
      min-height: 350px;
      max-height: auto !important;
      min-width: 200px !important;
      img {
        height: 200px !important;
        max-height: 200px;
        width: 100% !important;
        object-fit: inherit;
      }

      .mb-4 {
        margin-bottom: 1rem !important;
      }

      .buttons-container {
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;

        .p-button {
          width: 2.5rem;
          height: 2.5rem;
          padding: 0;

          .pi {
            font-size: 1rem;
          }
        }

        .ml-2 {
          margin-left: 0.5rem !important;
        }
      }

      .font-medium {
        font-size: 1rem !important;
      }

      .text-xl {
        font-size: 1.1rem !important;
      }
    }
  }
}
