<!-- Carousel -->
<div class="card flex flex-column gap-3">
  <div class="carousel">
<p-carousel
  [value]="categories"
  [numVisible]="3"
  [numScroll]="1"
  [circular]="true"
  [autoplayInterval]="3000"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template pTemplate="item" let-category>
    <div class="border rounded p-3 mx-2 text-center">
      <div class="mb-3">
        <img
          [src]="category.image"
          alt="{{ category.key }}"
          class="w-full rounded"
          height="200"
        />
      </div>

      <div class="flex flex-column p-3 align-items-center">
        <h4 class="font-semibold mb-2">{{ category.key }}</h4>
        <p-button
          label="View Course"
          icon="pi pi-arrow-right"
          severity="info"
          (click)="showDialog()"
        ></p-button>
      </div>
    </div>
  </ng-template>
</p-carousel>



  </div>

  <!-- Tabs -->
  <div class="card tabs" *ngIf="categories.length > 0">
    <div class="flex mb-3 gap-2 justify-content-between flex-wrap">
      <h1>What Courses Provide To You?</h1>
      <div class="flex gap-2 justify-content-end">
        <p-button
        *ngFor="let category of categories; let i = index"
        (click)="selectCategory(category.key, i)"
        rounded="true"
        [outlined]="selectedCategory !== category.key"
        [ngClass]="{ 'active-btn': selectedCategory === category.key }"
        label="{{ i + 1 }}"
      >
      </p-button>
      </div>
    </div>

<p-tabs [(value)]="activeIndex" scrollable class="custom-tabs">
  <p-tablist>
    <p-tab
      *ngFor="let category of categories; let i = index"
      [value]="i"
      #tabRef
      (click)="selectCategory(category.key, i)"
      class="custom-tab"
    >
      <div class="tab-content">
        <i class="pi pi-folder-open"></i>
        <span>{{ category.key }}</span>
      </div>
    </p-tab>
  </p-tablist>

  <p-tabpanels>
    <p-tabpanel
      *ngFor="let category of categories; let i = index"
      [value]="i"
    >
      <div class="flex flex-wrap gap-3 justify-content-start mt-3">
        <div
          *ngFor="let course of category.value.value"
          class="course-card"
        >
          <h4>{{ course.name }}</h4>
          <p>{{ course.description || 'No description available.' }}</p>
        </div>
      </div>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>

  </div>
</div>



    <p-dialog header="Header" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
        <p         *ngFor="let category of categories; let i = index">
          {{ category.key }}
        </p>
    </p-dialog>
