@media (min-width: 991px) {
.content{
  width: calc(100% - 300px);
}
}
@media (max-width: 991px) {
.content{
  width: 100%;
}
}
.content {
  background: var(--main-bg-content);
  color: var(--main-text-content);
  max-height: 100%;
  min-height: 100vh;
}
.container {
  max-height: 100%;
  min-height: 100vh;
}
.navbar {
  height: 100px;
}
.content-router {
  min-height: calc(100vh - 100px);
  max-height: 100%;
  padding-top: 20px;
}
.custom-date {
  background-color: #ccc;
  border-radius: 10px;
  span {
    color: #fff;
  }
}
.isLoggedIn {
  width: 100%;
  margin: 0 !important;
}
.sidebar-container {
  min-height: 100vh !important;
  max-height: 100% !important;
}
