@media (min-width: 991px) {
.content{
  width: calc(100% - 300px);
}
.image-container {
  display: block;
}
.isLoggedIn {
  width: 50%;
}
}
@media (max-width: 991px) {
.content{
  width: 100%;
}
.image-container {
  display: none;
}
.isLoggedIn {
  width: 100%;
  .content-router {
    background-image:
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url(../assets/images/img1.png);
    background-size: inherit;
    background-position: center;
    background-repeat: no-repeat;
  }
}
}
.content {
  background: var(--main-bg-content);
  color: var(--main-text-content);
  max-height: 100%;
  min-height: 100vh;
}
.container {
  max-height: 100%;
  min-height: 100vh;
}
.navbar {
  height: 100px;
}
.content-router {
  min-height: calc(100vh - 100px);
  max-height: 100%;
  padding-top: 20px;
}
.custom-date {
  background-color: #ccc;
  border-radius: 10px;
  span {
    color: #fff;
  }
}
.isLoggedIn {
  margin: 0 !important;
}
.sidebar-container {
  min-height: 100vh !important;
  max-height: 100% !important;
}
.image-container {
  height: 100vh;
  width: 50%;
}
.image-container-none {
  display: none;
}
