@media (min-width: 991px) {
.content{
  width: calc(100% - 300px);
}
.image-container {
  display: block;
}
.isLoggedIn {
  width: 100%;
}
}
@media (max-width: 991px) {
.content{
  width: 100%;
}
.image-container {
  display: none;
}
.isLoggedIn {
  width: 100%;
}
}
.content {
  background: var(--main-bg-content);
  color: var(--main-text-content);
  height: auto;
  right: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
  max-height: 100vh;
}
.container {
  height: auto;
  min-height: 100vh;
  position: absolute;
}
.navbar {
  height: 100px;
  background: var(--boxShadow-color);
  box-shadow: var(--boxShadow-color);
  position: relative;
}

.custom-date {
  background-color: #ccc;
  border-radius: 10px;
  span {
    color: #fff;
  }
}
.isLoggedIn {
  margin: 0 !important;
}
.sidebar-container {
  min-height: 100vh !important;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
  position: absolute;
  top: 0;
  height: 100%;
  bottom: 0;
}
.image-container {
  height: 100vh;
  width: 50%;
}
.image-container-none {
  display: none;
}
@media (prefers-color-scheme: dark) {
  .content {
    background: #121212 !important;
    color: #ffffff !important;
  }

  .custom-date {
    background: #7777;
    border: 1px solid #333;
  }
  .content-router, .contentrouter-isLoggedIn {
  min-height: calc(100vh - 100px);
  max-height: 100%;
  padding-top: 20px;
}
.content-router {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
  }
}
}
@media (prefers-color-scheme: light) {
.content-router {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.5);
  }
}
}

.content-router, .contentrouter-isLoggedIn {
  max-height: calc(100vh - 100px);
  padding-top: 20px;
  overflow: auto;
  min-height: calc(100vh - 100px);
}
.content-router {
    background-image:
  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
  url(../assets/images/img3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
