<div
  class="flex align-items-center container w-full"
  [ngClass]="{ 'overflow-hidden': !(user$ | async) }"
>
  <div
    *ngIf="user$ | async as user"
    [ngClass]="{
      'sidebar-container': true,
      'sidebar-toggle': !sidebarVisible
    }"
    class="flex align-items-center justify-content-center"
  >
    <app-sidebar />
  </div>

  <div
    class="content"
    [ngClass]="{
      'content-toggle': !sidebarVisible && (user$ | async),
      'isLoggedIn': !(user$ | async)
    }"
  >
    <div class="navbar">
      <app-navbar (togglebutton)="toggleSidebar()" />
    </div>

    <div
      class="w-full"
      [ngClass]="{
        'contentrouter-isLoggedIn': (user$ | async),
        'content-router': !(user$ | async)
      }"
    >
      <div class="m-3">
        <p-toast></p-toast>
        <router-outlet />
        <div class="mt-6">
          <app-footer />
        </div>
      </div>
    </div>
  </div>
</div>
