@media (min-width: 991px) {
.sidebar , ::ng-deep .sidebar-mobile .p-drawer-left {
  width: 300px;
  min-height: 100vh;
  border-right: 1px solid rgba(226, 232, 240, 0.2117647059);
  overflow: auto;
  color: #000;
  justify-content: flex-start;
  align-items: center;
  padding: 20px !important;
  background: #fff;
  img {
    width: 100px;
    height: 100px;
  }
  p a {
  color: #66615b;
  font-size: 20px;
  outline: none;
  display: flex;
  gap: 10px;
  font-weight: 400;
  align-items: center;
  }
}
.sidebar-mobile {
display: none;
}
  ::ng-deep {
  .p-drawer {
    display: none !important;
}
.p-overlay-mask-enter {
    display: none !important;
}
.sidebar p a {
  padding: 8px 12px;
  border-radius: 6px;
  transition: ease-out 0.2s;
          &:hover {
            background: var(--hoverprimary-color) !important;
            color: #fff !important;
          }
}
.sidebar p a.item-active {
  color: #fff !important;
  background: var(--primary-color);
  box-shadow: var(--boxShadow-color);
  position: relative;
  margin-left: 20px;
  transition: 0.25s ease-out;
            &:hover {
            background: var(--primary-color) !important;
            color: #fff !important;
          }
        &::before {
        content: "";
        left: -35px;
        top: 0;
        bottom: 0;
        width: 10px;
        height: 100%;
        position: absolute;
        background: var(--hoverprimary-color) !important;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      }
}
}
.container-logo {
  padding-bottom: 15px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: calc(100% - 30px);
    background: rgba(180, 180, 180, .3);
  }
}
}
@media (max-width: 991px) {
.sidebar {
display: none;
}
.sidebar-mobile {
display: block;
}
::ng-deep {
.p-drawer-left {
    background: #fff !important;
    border: none !important;
    border-radius: 0 !important;
    transition: ease-in 0.4s;
    .p-drawer-header {
    padding: 10px !important;
    padding-bottom: 20px !important;
    position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: calc(100% - 20px);
    background: rgba(180, 180, 180, .3);
  }
        img {
      width: 80px;
      height: 80px;
    }
    }
    .p-button-text.p-button-secondary {
              background: var(--light-color) !important;
        border-color: transparent !important;
        color: #777 !important;
        &:hover {
          background: var(--primary-color) !important;
          color: #fff !important;
        }
}
}
.p-drawer p a {
  color: #000 !important;
  background: transparent;
  border-radius: 6px;
  padding: 8px 12px;
  transition: ease-out 0.2s;
  gap: 20px;
  display: flex;
  margin-left: 20px;
    &:hover {
      background: var(--hoverprimary-color) !important;
      color: #fff !important;
    }
}
.p-drawer p a.item-active {
  color: #fff !important;
  background: var(--primary-color);
  border-radius: 6px;
  padding: 8px 12px;
  transition: 0.25s ease-out;
  position: relative;
            &:hover {
            background: var(--primary-color) !important;
            color: #fff !important;
          }
        &::before {
        content: "";
        left: -35px;
        top: 0;
        bottom: 0;
        width: 10px;
        height: 100%;
        position: absolute;
        background: var(--hoverprimary-color) !important;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      }
}
.p-drawer-content {
  margin-top: 30px;
      &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--primary-color);
      border-radius: 10px;
      border: 2px solid transparent;
      background-clip: content-box;
    }
}
}

}
::ng-deep .p-dialog {
  z-index: 9999 !important;
}

::ng-deep .p-dialog-mask {
  z-index: 9998 !important;
  display: flex !important;
}
@media (prefers-color-scheme: dark) {
::ng-deep .p-drawer-left{
  background: var(--darkcontainer) !important;
  p a {
    color: #fff !important;
  }
  .p-button-text.p-button-secondary {
    color: #fff !important;
  }
}
::ng-deep .sidebar{
  background: var(--darkcontainer) !important;
  p a {
    color: #fff !important;
  }
  .p-button-text.p-button-secondary {
    color: #fff !important;
  }
}
}
