  <div class="sidebar">
    <div class="flex justify-content-center flex-column m-0 p-0">

              <ng-container>
                <div class="w-full container-logo flex justify-content-center">
              <img
                alt="LOGO" class="logo"
                srcset="assets/images/img2.png">
              </div>
            </ng-container>

      <p class="flex mt-5 gap-3 flex-column">
        @for (item of itemsList; track item) {
          <a   [routerLink]="item.routerLink"
      routerLinkActive="item-active"
      [routerLinkActiveOptions]="{ exact: true }">
            {{ item.label }}
          </a>
        }
        </p>
    </div>
  </div>

  <div class="sidebar-mobile">
<p-drawer #list [(visible)]="visible">
  <ng-template pTemplate="header">
    <img
    alt="LOGO" class="logo"
    srcset="assets/images/img2.png">
  </ng-template>

  <p class="flex gap-3 flex-column">
    @for (item of itemsList; track item) {
      <a   [routerLink]="item.routerLink"
  routerLinkActive="item-active"
  (click)="closeDrawer()"
  [routerLinkActiveOptions]="{ exact: true }">
        {{ item.label }}
      </a>
    }
    </p>
</p-drawer>

  </div>
