.container {
  .context {
    position: absolute;
    width: calc(100% - 32px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    text-align: center;
    color: #fff;
  h1 span {
    font-size: 60px;
  }
  }
  .img-home {
    border-radius: 15px;
    height: 50vh;
    overflow: hidden;
    position: relative;
  }
  .desc {
    font-size: 1.1rem;
    letter-spacing: 1.1px;
  }
  .container-box {
    .char-box {
      border: 1px solid #ccc !important;
      border-radius: 15px;
      transition: 0.3s ease-in;
      img {
        border-radius: 15px;
        object-fit: contain;
      }
      span {
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 10px;
        i {
          color: gold;
        }
      }
      &:hover {
        box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.3);
        background-color: #eee;
      }
    }
  }
}
@media (max-width:991px) {
  .container-box {
    flex-wrap: wrap;
    gap: 15px !important;
  }
}
@media (max-width:767px) {
  .img-home {
    height: 60vh !important;
  }
  .context {
    h1 {
      font-size: 20px !important;
    }
  .desc{
    font-size: 1rem !important;
    letter-spacing: 1.1px !important;
    padding: 0 10px !important;
  }
  }
}
