<ng-container *ngIf="!isDetailsPage">
  <div class="container" *ngIf="detailsData?.label?.length">
    <div class="container-banner">
      <div class="context mt-6 pt-6 flex flex-column">
        <h1>
          <span>NextLevel <br></span>
          Learn Skills, Master Any Field
        </h1>
        <p class="mt-6 desc">
          High-quality courses to boost your skills in programming, design, marketing, and more.
        </p>
      </div>

      <img src="assets/images/home.png" alt="" class="w-full img-home" />
    </div>

    <div class="remaning mt-6">
      <h1>Ready to reimagine your career?</h1>
      <p class="desc mt-2">
        Get the skills and real-world experience employers want with Career Accelerators.
      </p>

      <div class="container-box flex justify-content-center mt-4 gap-3 px-3">
        <div
          *ngFor="let label of detailsData.label; let i = index"
          class="char-box cursor-pointer sm:col-12 md:col-5 overflow-hidden p-3 lg:col-4"
          (click)="goToDetails(i)"
        >
          <img
            [ngStyle]="{ 'background-color': detailsData.background[i] }"
            [src]="detailsData.image[i]"
            height="250"
            class="w-full"
            alt="{{ label }}"
          />

          <h3 class="my-3">{{ label }}</h3>

          <div class="flex align-items-center justify-content-between mt-2">
            <span class="flex gap-2 align-items-center">
              <i class="fa-solid fa-star"></i> {{ detailsData.rate[i] }}
            </span>
            <span>{{ detailsData.price[i] }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ✅ عرض رسالة لو البيانات لسه محملتش -->
   <div class="w-full h-full flex justify-content-center align-items-center" *ngIf="!detailsData?.label?.length">
     <p-progress-spinner ariaLabel="loading" />
   </div>
</ng-container>

<!-- ✅ يظهر فقط في صفحة التفاصيل -->
<ng-container *ngIf="isDetailsPage">
  <router-outlet></router-outlet>
</ng-container>
