<div class="card w-full">
<div class="flex gap-2 justify-content-center flex-wrap">
    <div class="card-smallChart">
    <p-chart
      *ngIf="coursesDoughnut"
      type="doughnut"
      [data]="coursesDoughnut"
      [options]="optionsDoughnut"
      class="w-full md:w-[30rem] h-[25rem] col-4">
    </p-chart>
  </div>
  <div class="card-smallChart">
    <p-chart
      *ngIf="coursesDoughnut"
      type="doughnut"
      [data]="coursesDoughnut"
      [options]="optionsDoughnut"
      class="w-full md:w-[30rem] h-[25rem] col-4">
    </p-chart>
  </div>
  <div class="card-smallChart">
    <p-chart
      *ngIf="coursesDoughnut"
      type="doughnut"
      [data]="coursesDoughnut"
      [options]="optionsDoughnut"
      class="w-full md:w-[30rem] h-[25rem] col-4">
    </p-chart>
  </div>
</div>

  <!-- <div class="card-BigChart">
    <p-chart
      *ngIf="coursesBar"
      type="bar"
      [data]="coursesBar"
      [options]="optionsBar"
      class="h-[30rem]">
    </p-chart>
  </div> -->
</div>
