<div class="error-wrapper">
  <div class="error-box">
    <div class="icon-circle">
      <i class="pi pi-exclamation-circle"></i>
    </div>

    <h1 class="title">Error Occured</h1>
    <p class="subtitle">Requested resource is not available.</p>

    <div class="illustration">
      <div class="line">
        <div class="dot" style="--height: 50px"><span>E</span></div>
        <div class="dot" style="--height: 70px"><span>R</span></div>
        <div class="dot" style="--height: 60px"><span>R</span></div>
        <div class="dot" style="--height: 80px"><span>O</span></div>
        <div class="dot" style="--height: 55px"><span>R</span></div>
      </div>
    </div>

    <p-button class="btn" severity="primary" (click)="goToDashboard()">Go to Home</p-button>
  </div>
</div>
