<p-menubar [model]="items">
  <ng-template #start>
    <div class="isMobile" *ngIf="username">
      <p-menu #menu [popup]="true" [model]="itemsMobile"></p-menu>

      <div class="flex gap-3">
        <p-button
          type="button"
          class="username"
          (click)="menu.toggle($event)"
        >
          {{ username.displayName ? 'hello, ' + username.displayName : '' }}
          <i class="pi pi-chevron-down ml-2"></i>
        </p-button>

        <p-button
          class="username round"
          icon="pi pi-angle-right"
          type="button"
          (click)="toggleDrawer()"
        >
        </p-button>
      </div>
    </div>
  </ng-template>

  <ng-template #end>
    <div class="flex photoUser items-center gap-2">
      <ng-container *ngIf="photoURL">
        <img [src]="photoURL" shape="circle" alt="LOGO">
      </ng-container>
      <ng-container *ngIf="username">
        <img *ngIf="!photoURL" src="assets/images/img4.png" shape="circle" alt="LOGO">
      </ng-container>
    </div>

    <ng-container *ngIf="!username">
      <div class="w-full px-3 flex justify-content-center">
        <img alt="LOGO" src="assets/images/img2.png">
      </div>
    </ng-container>
  </ng-template>
</p-menubar>

