.user-img {
  width: 32px;
  height: 32px;
}
::ng-deep {
  .p-menubar-mobile {
    height: 100%;
}
.p-menubar {
  height: 100%;
  border: none !important;
  border-radius: 0 !important;
.p-menubar-submenu-icon {
    color: #fff !important;
}
}
.not-username .logo {
  width: 60px;
}
.p-menubar-end, .p-menubar-end > div img  {
    height: 100%;
    display: flex !important;
    align-items: center;
      .logo {
        width: auto;
        height: 80px;
      }
}
.photoUser img {
  width: 50px !important;
  height: 50px !important;
  object-fit: cover;
  border-radius: 50% !important;
}
.p-menubar-mobile .p-menubar-button {
    display: none !important;
}
.username .p-button {
  background: #eee !important;
  border-radius: 30px !important;
  color: #212121 !important;
  border: 1px solid #eee !important;
  span {
    font-weight: 500 !important;
  }
}
.round .p-button {
  border-radius: 50% !important;
}
.p-button:focus-visible {
    outline:none !important;
}
}
::ng-deep {
  .isMobile {
  display: none;
}
.p-menubar-submenu {
    z-index: 999 !important;
}
.p-menu .p-menu-separator {
  height: 1px;
  margin: 6px 0;
  background: rgba(255, 255, 255, 0.2);
}
.p-menubar-root-list {
  display: none !important;
}
 .p-menu{
  width: 100% !important;
  left: 0;
}
}

@media (max-width: 960px) {
::ng-deep .p-menubar-end .logo, .p-menubar-end > div .logo {
    width: auto;
    height: 40px !important;
}
.isMobile {
  display: block;
}
}
@media (prefers-color-scheme: dark) {
::ng-deep .username .p-button{
  background: #555 !important;
  border-radius: 30px !important;
  color: #fff !important;
  border: 1px solid #555 !important;
}
}
