<p-menubar [model]="items">
  <ng-template #start>
    <div class="isMobile">
      <p-menu #menu [popup]="true" [model]="itemsMobile"></p-menu>

      <div class="flex gap-3">
        <p-button
        type="button"
        class="username"
        (click)="menu.toggle($event)">
        {{ username?.displayName ? 'hello, ' + username?.displayName : '' }}
        <i class="pi pi-chevron-down ml-2"></i>
      </p-button>

      <p-button
        class="username round"
        icon="pi pi-angle-right"
        type="button"
        (click)="toggleDrawer()"
      >
      </p-button>
      </div>
    </div>
  </ng-template>

  <ng-template #end>
    <div class="flex items-center gap-2">
      <ng-container *ngIf="photoURL">
        <p-avatar [image]="photoURL" shape="circle"></p-avatar>
      </ng-container>
    </div>
  </ng-template>
</p-menubar>
