.user-img {
  width: 32px;
  height: 32px;
}
::ng-deep {
  .p-menubar-mobile {
    height: 100%;
}
.p-menubar {
  height: 100%;
  background: transparent !important;
  border: none !important;
  border-radius: 0 !important;
.p-menubar-root-list > .p-menubar-item > .p-menubar-item-content {
      border-radius: var(--radius);
  .p-menubar-item-link {
  color: #fff;
  background: var(--primary-color);
  border-radius: var(--radius);
  border: none !important;
  outline: none !important;
    &:hover {
      background: var(--primary-color);
      border-radius: var(--radius) !important;
    }
}
}
.p-menubar-submenu-icon {
    color: #fff !important;
}
}
.p-menubar-end, .p-menubar-end > div img  {
    height: 100%;
    display: flex !important;
    align-items: center;
    width: 60px;
      .logo {
        width: auto;
        height: 80px;
      }
}
.photoUser img {
  width: 60px !important;
  height: 60px !important;
  object-fit: cover;
  border-radius: 50% !important;
}
.p-menubar-mobile .p-menubar-button {
    display: none !important;
}
.username .p-button {
  background: var(--primary-color) !important;
  border-radius: 10px !important;
  color: #fff;
  border: 1px solid var(--primary-color) !important;
}
.round .p-button {
  border-radius: 50% !important;
}
.p-button:focus-visible {
    outline:none !important;
}
}
::ng-deep .isMobile {
  display: none;
}
@media (max-width: 960px) {
::ng-deep .p-menubar-end .logo, .p-menubar-end > div .logo {
    width: auto;
    height: 40px !important;
}
.isMobile {
  display: block;
}
}
