.register-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 100;
  position: relative;
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 6px;
      font-weight: bold;
    }

    input {
      width: 100%;
      padding: 8px;
      border-radius: 10px;
      border: 1px solid #ccc;
      outline: none;
    }

    .error {
    padding: 10px;
    background: #ff000047;
    border-radius: 10px;
    margin-top: 10px;
    }
  }

  ::ng-deep .p-button {
    width: 100%;
    padding: 10px;
    border: none;
    background: var(--info-color);
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
      &:disabled {
    background: var(--info-color) !important;
    color: #ffffff76 !important;
    cursor: not-allowed;
    opacity: 0.9;
    pointer-events: none;
  }
  }

  p {
    text-align: center;
    margin-top: 15px;
  }
  a {
    color: #fd5d93;
    cursor: pointer;
  }
}
@media (prefers-color-scheme: dark) {
  .register-container {
    background: var(--darkcontainer) !important;
    border: 1px solid #3f3f46 !important;
  }
  input{
    border: 1px solid #52525b !important;
    background: #09090b !important;
    padding: 12px !important;
  }
}
.error {
  background: var(--danger-color);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}
::ng-deep .p-autocomplete {
    width: 100%;
}
